{namespace c=LetsShoot\Sachkundetrainer\Frontend\ViewHelpers}

<f:layout name="Loggedin"/>

<f:section name="Main">
    <nav class="navbar navbar-default searchform d-print-none d-none d-lg-table">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 pull-left">
            <h1>Themengebiete</h1>
        </div>
    </nav>
    <div class="container-fluid content">
        <div class="row">
            <div class="col-xl-12">
                <h3>Themengebiete bearbeiten</h3>
                <hr/>
                <f:if condition="{error}">
                    <f:then>
                        <f:format.raw>{error}</f:format.raw>
                    </f:then>
                    <f:else>
                        <form method="post" id="updateform" action="/Frontend/" enctype="multipart/form-data">
                            <input type="hidden" name="ctrl" value="Subtopics"/>
                            <input type="hidden" name="action" value="Edit"/>
                            <input type="hidden" name="id" value="{subtopic.subtopic_id}"/>
                            <input type="hidden" name="save" value="true"/>
                            <div class="row submitrow">
                                <div class="col text-right">
                                    <button type="button" class="btn btn-secondary" style="margin-right: 4px" onclick="ajaxForm('updateform','Zwischenspeichern erfolgreich.'); $(this).blur(); return false;">Zwischenspeichern</button>
                                    <button type="submit" class="btn btn-primary">Speichern</button>
                                </div>
                            </div>
                            <f:render partial="Subtopic/FormFields" arguments="{_all}"/>
                        </form>
                    </f:else>
                </f:if>
            </div>
        </div>
    </div>
</f:section>