<f:layout name="Loggedin"/>

<f:section name="Main">
    <nav class="navbar navbar-default searchform d-print-none d-none d-lg-table">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 pull-left">
            <h1>Ihr Nutzerprofil</h1>
        </div>
    </nav>
    <div class="container-fluid content">
        <div class="row">
            <div class="col-xl-12">

                <h3>API-Schlüssel erzeugen</h3>
                <hr/>

                <f:format.raw>{error}</f:format.raw>
                <f:format.raw>{success}</f:format.raw>

                <a href="/Frontend/?ctrl=Profile" class="btn btn-primary">Zurück</a>

            </div>
        </div>
    </div>
</f:section>