{namespace c=LetsShoot\Sachkundetrainer\Frontend\ViewHelpers}

<div class="row mt-5">
    <div id="commentAccordion" class="accordion col-xl-9 col-lg-9 col-md-10 col-sm-10">
        <div class="card">
            <div class="card-header" id="comments">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#commentList" aria-expanded="true" aria-controls="commentList">
                        <i class="fa fa-chevron-down" aria-hidden="true"></i> Kommentare zu dieser Frage <span class="badge badge-info"><f:count>{question.comments}</f:count></span>
                    </button>
                </h5>
            </div>
            <div id="commentList" class="collapse <f:if condition="{_user.user_config.show_comments} == 1 && {question.comments}">show</f:if>" aria-labelledby="comments" data-parent="#commentAccordion">
                <div class="card-body">
                    <f:if condition="{question.comments}">
                        <f:then>
                            <f:for each="{question.comments}" as="comment">
                                <f:render partial="Comment/comment" arguments="{comment:comment}"/>
                            </f:for>
                        </f:then>
                        <f:else>
                            <p>Zu dieser Frage sind keine Kommentare anderer Nutzer vorhanden.</p>
                        </f:else>
                    </f:if>
                </div>
            </div>
        </div>
        <f:if condition="{userlevel} > {APPLICATION_USERLEVEL_GUEST}">
            <div class="card">
                <div class="card-header" id="newcomment">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#commentForm" aria-expanded="true" aria-controls="commentForm">
                            <i class="fa fa-plus" aria-hidden="true"></i> Kommentar schreiben
                        </button>
                    </h5>
                </div>
                <div id="commentForm" class="collapse" aria-labelledby="comments" data-parent="#commentAccordion">
                    <div class="card-body">
                        <form name="addcommentform" id="addcommentform" method="post" action="/Frontend/" enctype="multipart/form-data" onsubmit="addComment('addcommentform','commentList .card-body'); return false;">
                            <input type="hidden" name="ctrl" value="Comments"/>
                            <input type="hidden" name="action" value="Add"/>
                            <input type="hidden" name="comment_question_id" value="{question.question_id}"/>
                            <textarea id="comment_text" name="comment_text" required="required" placeholder="Ihr Kommentar" class="form-control" style="height:150px"></textarea>
                            <input type="submit" class="btn btn-secondary btn-sm mt-3" value="Kommentar hinzufügen"/>
                        </form>
                    </div>
                </div>
            </div>
        </f:if>
    </div>
</div>